#chat {
   background-color: transparent;
    position: fixed;
    margin: 0px;
    background-color: white;
    gap: 0px;
  
    bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    right: 20px;
}

#chatBox {
    background-color: rgb(44,101,200);
    width: 220px;
    padding: 10px;
    height: 40px;
  
    padding-top: 5px;
    border-radius: 10px;
    cursor: pointer;
    justify-content:space-between;
    align-content: center;
    color: white;
    align-items: center;
    padding-bottom: 5px;
}

#activeUser{
    height: 250px;
    overflow-y: scroll;
    
}