#userModal {
    position: absolute;
    width: 300px;
    right: 0px;
    top: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    padding: 20px;
    align-content: center;
    justify-items: center;
}

